/*Colors*/
$pale-blue: #abebff;
$light-blue: #53c7de;
$teal: #2cd0d1;
$blue: #2e79ba;
$dark-blue: #082848;
$gray: #666;
$white: #fff;

/*Shadows*/
$shadow-1: 5px 5px 5px 5px #666, 0.5;
$shadow-2: 7.5px 7.5px 7.5px 7.5px #666, 0.25;