/*Family*/
$sarabun: 'Sarabun', ;

/*Sizes*/
$title-1: 3rem;
$title-2: 2.5rem;
$title-3: 2rem;
$subtitle-1: 1.75rem;
$subtitle-2: 1.5rem;
$subtitle-3: 1.25rem;
$paragraph: 1.25rem;
$menu: 1.25rem;
$footer: 1rem;
$mobile: .75rem;

/*Weight*/
$light: 200;
$regular: 400;
$bold: 600; 