@charset "UTF-8";
/*components*/
/*Colors*/
/*Shadows*/
/*Family*/
/*Weight*/
.link-1 {
  font-size: 12pt;
  color: #666;
  text-decoration: underline;
}

.link-1:link {
  color: #666;
  text-decoration: underline;
}

.link-1:visited {
  color: #666;
  text-decoration: underline;
}

.link-1:active {
  color: #666;
  text-decoration: underline;
}

.link-1:hover {
  color: #666;
  text-decoration: underline;
}

.link-2 {
  font-size: 12pt;
  color: #082848;
  font-weight: 600;
  text-decoration: none;
}

.link-2:link {
  color: #082848;
  font-weight: 600;
  text-decoration: none;
}

.link-2:visited {
  color: #082848;
  font-weight: 600;
  text-decoration: none;
}

.link-2:active {
  color: #082848;
  font-weight: 600;
  text-decoration: none;
}

.link-2:hover {
  color: #082848;
  font-weight: 600;
  text-decoration: none;
}

.link-3 {
  font-size: 14pt;
  color: #2cd0d1;
  font-weight: 600;
  text-decoration: underline;
}

.link-3:link {
  color: #2cd0d1;
}

.link-3:visited {
  color: #2cd0d1;
}

.link-3:active {
  color: #0386a7;
}

.link-3:hover {
  color: #0386a7;
}

/*Measurements*/
/*Percentages*/
.title-1 {
  font-size: 30px;
  font-weight: bold;
  color: #1F5B99;
}

/*Buttons*/
.button-1 {
  background-color: #082848;
  border: #082848;
  border-radius: 0.75rem;
}

.button-1:hover {
  background-color: #082848;
}

.button-1:active {
  background-color: #082848;
}

.button-1:focus {
  background-color: #082848;
}

.button-2 {
  background-color: #2cd0d1;
  border: #2cd0d1;
  border-radius: 0.75rem;
  width: 80%;
}

.button-2:hover {
  background-color: #0386a7;
}

.button-2:active {
  background-color: #0386a7;
}

.button-2:focus {
  background-color: #0386a7;
}

.button-3 {
  background-color: transparent;
  border: #fff;
  border-radius: 0.75rem;
  color: #fff;
}

.button-3:hover {
  background-color: #fff;
  color: #000;
}

.button-3:active {
  background-color: #fff;
  color: #000;
}

.button-3:focus {
  background-color: #fff;
  color: #000;
}

/*Párrafos*/
/*cambio*/
/*helpers*/
/*layout*/
/* Footer */
.main-footer {
  color: white;
  background-color: #082848;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer .social-media {
  width: 200px;
  margin: 0 20px;
}

@media only screen and (max-width: 768px) {
  .main-footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-footer ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
  .main-footer ul li {
    text-align: center;
  }
  .main-footer .social-media {
    width: 100%;
    margin: 20px;
  }
}

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Sarabun";
}

/* Navigation Bar */
nav {
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2CD0D1;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a.nav-link {
  color: white;
}

/*Pages*/
/*_Checkout*/
/*Payment SCSS*/
.checkout {
  background-color: #53c7de;
  color: #fff;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid {
  font-family: "Sarabun";
}

.form-control {
  border: #53c7de 2px solid;
  border-radius: 7px;
}

.form-check-input {
  border: #53c7de 2px solid;
}

.btn {
  background-color: #082848;
  border-radius: #082848 2px solid;
}

.pDeclined__Header {
  background-color: #53c7de;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

.pDeclined__Header h3 {
  font-size: 14px;
}

.pDeclined__Body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.pDeclined .Body__Image {
  width: 80%;
  margin: auto;
}

.pDeclined .Body__Tryagain {
  background-color: #082848;
  color: white;
  padding: 10px;
  margin: 15px auto 10px;
  width: 80%;
  border-radius: 10px;
}

.pDeclined .Body__Oxxopay {
  color: #53c7de;
  text-decoration: underline;
  text-align: center;
}

.header {
  font-family: "Sarabun";
  background-color: #53c7de;
  color: #fff;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body {
  font-family: "Sarabun";
  color: #666;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

Link {
  background-color: #082848;
  border-radius: 7px;
}

.card-title {
  color: #082848;
  font-weight: 600;
}

.list-group1 {
  border: #666 1px solid;
  border-top: #53c7de 10px solid;
  border-left: #666 1px solid;
}

.list-group {
  border: #666 1px solid;
  border-left: #666 1px solid;
}

.list-group-item {
  border: #666 1px solid;
  border-top: #53c7de 4px solid;
  border-left: #666 1px solid;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #fff 1px solid;
}

/*_Home*/
div.container {
  padding: 0;
}

.login-cover {
  background-color: transparent;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/4bbe0089668085.5dfbf2be226b3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-description {
  background-color: rgba(255, 255, 255, 0.986);
  border-radius: 1rem;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

form {
  color: #082848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

form .form-control {
  width: 340px;
}

form .form-check-input {
  margin-left: 0;
}

form .form-check-label {
  margin-left: 1.5rem;
}

form .olvidaste-contraseña {
  margin-left: 1rem;
}

form .btn-primary {
  width: 150px;
  margin-top: 1rem;
  background-color: #082848;
  border: none;
}

form .btn-primary a {
  color: #fff;
}

form h4 {
  margin-bottom: 1.5rem;
  color: #0386a7;
  font-weight: 600;
  font-size: 2rem;
}

.wNew .Header__Title {
  text-align: center;
  font-size: 2em;
  margin: 10px auto;
}

.wNew .Header__Image {
  width: 80%;
  margin: 10px auto;
}

.wNew .Header__Text {
  text-align: center;
  width: 60%;
  margin: 5px auto 15px;
  font-weight: 200;
}

.wNew__Bottom {
  background-color: #53c7de;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 20px;
}

.wNew .Bottom__Register {
  background-color: #082848;
  color: white;
}

.wNew .Bottom__Invited {
  text-decoration: underline;
}

.welcome-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/cea20527601265.56456ee4b736b.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-content {
  background-color: rgba(255, 255, 255, 0.959);
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.welcome-content #welcomeuser-img {
  width: 150px;
  margin-bottom: 20px;
}

.welcome-content .buttom-cotizar {
  color: white;
  margin-top: 10px;
  width: 200px;
}

.welcome-content p {
  margin-top: 20px;
  background-color: unset;
  color: #666;
}

.welcome-content #revisar-pedidos {
  margin: 10px;
}

/*_Orders*/
/*Myorders SCSS*/
/*_QuotMaker*/
.progress {
  height: 1.5rem;
  margin: 1rem 0;
}

.progress .progress-bar {
  width: 25%;
  background-color: #53c7de;
}

.quotemaker {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  padding: 2rem 0;
  background-color: whitesmoke;
}

.quotemaker .quotmaker-sectionTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.quotemaker .quotemaker-form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quotemaker .quotemaker-form .card:focus-within {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
}

.quotemaker .quotemaker-form .card {
  width: 300px;
  height: 350px;
  border: 1px #ececec 236, 236, 236 solid;
  background-color: white;
  margin: 10px;
}

.quotemaker .quotemaker-form .card .card-img-top {
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.quotemaker .quotemaker-form .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.quotemaker .quotemaker-form .card .card-body .quotemaker-cardtitle {
  margin: 1rem 0;
}

.quotemaker .quotemaker-form .card .card-body .card-text {
  background-color: transparent;
}

.quotemaker .quotmaker-nextButton {
  text-align: center;
}

.quotemaker .quotmaker-nextButton button {
  width: 10rem;
  margin: .5rem;
}

/*QuoteMaker SCSS*/
.QuotemakerContainer {
  margin-top: 5rem;
  margin-bottom: 3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

.QuotemakerContainer .card {
  border: 1px #ebebeb solid;
}

.QuotemakerContainer .QuoteStart__Header {
  margin-bottom: 4rem;
}

.Header__Step {
  color: #53c7de;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.Header__Title {
  text-align: center;
  font-size: 1.8rem;
  margin: auto;
  color: #082848;
}

@media (max-width: 767px) {
  /* Selectors and styles affecting screens UP TO 767px (Tablet) */
  .card-columns {
    padding: 1rem;
  }
  .card-columns .brochure-img {
    display: none;
  }
}

@media (max-width: 480px) {
  /* Selectors and styles affecting screens UP TO 480px (Phone) */
}

.container-fluid {
  padding: 0;
}

.coming-soon {
  background-color: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coming-soon .description {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 50px 50px 0;
  text-align: center;
}

.coming-soon .description h1 {
  color: #082848;
}

.coming-soon .description h5 {
  color: #53c7de;
}

.coming-soon figure #comingsoon-cover {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .coming-soon img#comingsoon-cover {
    width: 95vw;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=main.css.map */