/* Footer */
.main-footer {
    color: white;
    background-color: #082848;
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .social-media {
        width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .main-footer {
        height: fit-content;
        ul {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            margin: 20px 0;
            li {
                text-align: center;
            }
        }
        .social-media {
            width: 100%;
            margin: 20px;
        }
    }
}