/* Navigation Bar */

nav {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2CD0D1;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        
    }
}

a.nav-link {
    color: white;
}