.header {
    font-family: $main-font;
    background-color: $color-3;
    color: $color-7;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.body {
    font-family: $main-font;
    color: $color-6;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

Link {
    background-color: $color-2;
    border-radius: 7px;
}