.pDeclined{
	&__Header{
		background-color: $color-3;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		padding: 20px;
		h3{
			font-size: 14px;
		}
	}

	&__Body{
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 20px;
	}

	.Body__Image {
		width: 80%;
		margin: auto;
	}

	.Body__Tryagain {
		background-color: $color-2;
		color: white;
		padding: 10px;
		margin: 15px auto 10px;
		width: 80%;
		border-radius: 10px;
	}

	.Body__Oxxopay{
		color: $color-3;
		text-decoration: underline;
		text-align: center;
	}
}