.paymentsuccess {
    margin: 30px 0;
}

.paymentsuccess-titles {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        text-align: center;
    } 
}
.body {
    color: $color-6;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .paymentsucess-img {
        width: 200px;
        margin: 15px 0;
    }
}

.detalles {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paymentsuccess-button {
    margin: 20px 0;
    button {
        width: 150px;
    }
}