/*Colors*/

$color-1: #2cd0d1;
$color-2: #082848;
$color-3: #53c7de;
$color-4: #abebff;
$color-5: #2e79ba;
$color-6: #666;
$color-7: #fff;
$color-8: #000;

/*Shadows*/
$shadow-1: 5px 5px 5px 5px #666, 0.5;
$shadow-2: 7.5px 7.5px 7.5px 7.5px #666, 0.25;

