
.title-1 {
    font-size: 30px;
    font-weight: bold;
    color: #1F5B99;
}

title-2 {

}

title-3 {

}

title-4 {

}

title-5 {

}

title-6 {

}

text-1 {

}

text-2 {

}




$subtitle-1: 1.75rem;
$subtitle-2: 1.5rem;
$subtitle-3: 1.25rem;
$paragraph: 1.25rem;
$menu: 1.25rem;
$footer: 1rem;
$mobile: .75rem;

