
.title-1 {
    font-size: 30px;
    font-weight: $bold;
    color: $color-5;
}

.title-2 {
    font-size: 20px;
    color: $color-2;
}

.title-3 {
    font-size: 30px;
    font-weight: $bold;
    color: $color-2;
}

.title-4 {
    font-size: 30px;
    color: $color-9;
}


$subtitle-1: 1.75rem;
$subtitle-2: 1.5rem;
$subtitle-3: 1.25rem;
$paragraph: 1.25rem;
$menu: 1.25rem;
$footer: 1rem;
$mobile: .75rem;

