/* Services Cards */
.container-fluid{
    padding-bottom: $md;
    text-align: center;
    font-family: $sarabun;
    .card{
        border: none;
        border-radius: $sm;
        margin-top: $sm;
        .card-img-top{
            height: $xlg;
        }
        h4{
            font-size: $subtitle-2;
            font-weight: $bold;
            color: $dark-blue;
        }
        p{
            font-size: $paragraph;
            font-weight: $regular;
            color: $gray;
        }
        .btn{
            width: $eighty;
            font-weight: $bold;
        }
        .btn-primary{
            background-color: $dark-blue;
        }
        .btn-outline-secondary{
            border-color: $white;
        }
        .btn-primary:hover{
            border-color: $dark-blue;
            color: $white;
        }
        .btn-primary:active{
            background-color: $dark-blue;
            border-color: $dark-blue;
            box-shadow: none;
        }
        .btn-primary:visited{
            background-color: $dark-blue;
            border-color: $dark-blue;
            box-shadow: none;
        }
        .btn-primary:focus{
            box-shadow: none;
        }
    }
}