/*QuoteMaker SCSS*/
.quotemaker-container {
	
}


.quot-maker-survey {

	height: fit-content;
	padding: 20px;
}

.QuoteStart{


	&__Header {
		margin-bottom: 20px;
	}

	.Header {
		&__Step{
			color: $color-3;
			text-align: center;
		}

		&__Title {
			text-align: center;
			font-size: 18px;
			width: 80%;
			margin: auto;
		}
	}



	&__Option {
		position: relative;
	}

	.Option__Image{
		img{
			max-height: 200px;
			object-fit: cover;
		}
	}

	.Option__Body{
		background-color: #E9E9E9;
		text-align: center;
		.card-text{
			font-size: 12px;
			text-align: center;
		}
	}

	.Option__Btn{
		width: 50%;
		max-width: 300px;
		margin: auto;
		background-color: $color-2;
		color: white;
	}
}