/*QuoteMaker SCSS*/
.QuotemakerContainer {
	margin-top: 5rem;
	margin-bottom: 3rem;
	height: fit-content;
	padding: 20px;
	.card {
		border: 1px rgb(235, 235, 235) solid;
	}
	.QuoteStart {
		&__Header {
			margin-bottom: 4rem;
		}
	}
}

.Header {
	&__Step {
		color: $color-3;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2rem;
	}

	&__Title {
		text-align: center;
		font-size: 1.8rem;
		margin: auto;
		color: $color-2;
	}
}

	

@media (max-width: 767px) {
    /* Selectors and styles affecting screens UP TO 767px (Tablet) */
	.card-columns {
		padding: 1rem;
		.brochure-img {
			display: none;
		}
	}


}

@media (max-width: 480px) {
    /* Selectors and styles affecting screens UP TO 480px (Phone) */
}