.progress {
    height: .8rem;
    margin: 1rem 0;
    .progress-bar {
        background-color: $color-3;
    }
    #printSystem-progress {
        width: 16.6%;
    }
    #printSides-progress {
        width: 33.3%;
    }
    #printQuantity-progress {
        width: 50%;
    }
    #printFinish-progress {
        width: 66.6%;
    }
    #printPaper-progress {
        width: 83.3%;
    }
    #printDesign-progress {
        width: 100%;
    }
}

.QuoteMaker__Header {
    margin: 30px 0;
}
.quotmaker {
    background-color: rgb(250, 250, 250);
}
.step-button {
    margin: 0 5px 30px;
    width: 8rem;
}
.printSteps-container {
    height: fit-content;
    margin: 20px;
    // background-color: whitesmoke;
    .quotmaker-sectionTitle {
        text-align: center;
        margin-bottom: 2rem;
    }
    .quotemaker-form {
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .col {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card:focus-within {
            // border: 5px solid red;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            transition: 0s ease-in-out;
        }
        .card {
            width: 300px;
            height: 350px;
            border: 1px #ececec(236, 236, 236) solid;
            background-color: white;
            margin: 10px;
            .card-img-top {
                height: 10rem;
                object-fit: cover;
            }
            .card-body {
                display: flex;
                flex-direction: column;
                border: none;
                .quotemaker-cardtitle {
                    margin: 1rem 0;
                }
                .card-text {
                    background-color: transparent;
                }
            }
        }

    }
    .quotmaker-nextButton {
        text-align: center;
        button {
            width: 10rem;
            margin: .5rem;
        }
    }
}

.quotmaker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}