div.container {
    padding: 0;
}

.login-cover {
    background-color: transparent;
    background-image: url(https://cdn.shopify.com/s/files/1/0947/6150/products/Black_White_Desk_SC_Stockshop_styled_stock20_WM.jpg?v=1568233926);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    
    .title-1 {
        background-color: unset;
        color: $color-9;
        font-weight: 300;
        font-size: 70px;
    }
    h5 {
        color: $color-6;
    }
}

.login-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .main-description {
        padding: 30px;
        background-color: whitesmoke;
        width: 500px;
        margin: 30px;
    }
    p {
        background-color: inherit;
    }
}

form {
    margin: 20px;
    padding: 4rem 0;
    color: $color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
        margin-bottom: 2.5rem;
    }
    .form-control {
        width: 340px;
    }
    .olvidaste-contraseña {
        margin-left: 1rem;
    }
    .btn-primary {
        width: 150px;
        margin-top: 2rem;
        background-color: $color-3;
        border: none;
    }
}