div.container {
    padding: 0;
}

.login-cover {
    background-color: transparent;
    // background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7631ff94721811.5e85dc7bb7e11.png);
    // background-image: url(https://cdn.dribbble.com/users/1048838/screenshots/4923148/attachments/1103961/agnieszka-jucha-dribbble-2.jpg);
    // background-image: url(https://pro2-bar-s3-cdn-cf6.myportfolio.com/7aaf8a61812c8e39cef30565c59ac92a/7e301484a0a87bb36bfbe3b2_rw_1920.png?h=a008ca4bbc36869ad6af9e8aa25462f7);
    // background-image: url(https://images.pexels.com/photos/3759098/pexels-photo-3759098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    // background-image: url(https://images.pexels.com/photos/3740290/pexels-photo-3740290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/4bbe0089668085.5dfbf2be226b3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
 
.login-description {
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 1rem;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.login-form {
    color: $color-2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    .form-control {
        width: 340px;
    }
    .form-check-input {
        margin-left: 0;
    }
    .form-check-label {
        margin-left: 1.5rem;
    }
    .olvidaste-contraseña {
        margin-left: 1rem;
    }
    .btn-primary {
        width: 150px;
        margin-top: 1rem;
        background-color: $color-2;
        border: none;
        a{
            color: $color-7;
        }
    }
    h4 {
        margin-bottom: 1.5rem;
        color: $color-5;
        font-weight: 600;
        font-size: 2rem;
    }
}

  


