.welcome-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7631ff94721811.5e85dc7bb7e11.png);
    // background-image: url(https://cdn.dribbble.com/users/1048838/screenshots/4923148/attachments/1103961/agnieszka-jucha-dribbble-2.jpg);
    // background-image: url(https://pro2-bar-s3-cdn-cf6.myportfolio.com/7aaf8a61812c8e39cef30565c59ac92a/7e301484a0a87bb36bfbe3b2_rw_1920.png?h=a008ca4bbc36869ad6af9e8aa25462f7);
    background-image: url(https://images.pexels.com/photos/3759098/pexels-photo-3759098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    // background-image: url(https://images.pexels.com/photos/3740290/pexels-photo-3740290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-content {
    background-color: rgba(255, 255, 255, 0.959);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    #welcomeuser-img {
        width: 150px;
        margin-bottom: 20px;
    }
    .buttom-cotizar {
        color: white;
        margin-top: 10px;
        width: 200px;
    }
    p {
        margin-top: 20px;
        background-color: unset;
        color: $color-6;
    }
    #revisar-pedidos {
        margin: 10px;
    }
}




